body {
	margin: 0;
	font-family: "Courier New", Courier, monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(89deg, #ff9a9e 10%, #fecfef 90%);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

button {
	cursor: pointer;
}
